<section>
  <h1>Other Places To Find Me</h1>
  <ul>
    <li><a href="https://geekli.st/jacklund">Geeklist</a></li>
    <li><a href="http://www.pandora.com/profile/jackl0">Pandora</a></li>
    <li><a href="http://www.linkedin.com/in/jacklund">LinkedIn</a></li>
    <li><a href="https://plus.google.com/105150092995925691816/about">Google+</a></li>
    <li><a href="https://alpha.app.net/jacklund">App.net</a></li>
    <li><a href="https://www.facebook.com/jack.lund">Facebook</a></li>
    <li><a href="http://jacklund.tumblr.com/">Tumblr</a></li>
    <li><a href="http://pinterest.com/jacklund/">Pinterest</a></li>
    <li><a href="http://www.scribd.com/jack_lund">Scribd</a></li>
    <li><a href="http://www.shelfari.com/jacklund">Shelfari</a></li>
    <li><a href="http://www.librarything.com/home/jacklund">LibraryThing</a></li>
  </ul>
</section>
<section>
  <h1>Share</h1>
  <ul>
    <li><a href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','//geekli.st/javascript/bookmarklet/bookmarklet.js')"><img src="//geekli.st/images/assets/GeekIt_wFace.png"></a></li>
    <li>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <g:plusone annotation="none"></g:plusone>
    </li>
  </ul>
</section>