<section>
  <h1>Being Social</h1>
  <ul>
    <li><a href="https://www.facebook.com/jack.lund">Facebook</a></li>
    <li><a href="http://www.linkedin.com/in/jacklund">LinkedIn</a></li>
    <li><a href="https://plus.google.com/105150092995925691816/about">Google+</a></li>
    <li><a href="http://jacklund.tumblr.com/">Tumblr</a></li>
    <li><a href="http://pinterest.com/jacklund/">Pinterest</a></li>
    <li><a href="http://www.scribd.com/jack_lund">Scribd</a></li>
    <li><a href="http://www.shelfari.com/jacklund">Shelfari</a></li>
    <li><a href="http://www.librarything.com/home/jacklund">LibraryThing</a></li>
  </ul>
</section>